### **Problem 1: Unique Words in a Sentence**

In [ ]:
sentence = input("Enter a sentence: ")

words = sentence.split()    #Split the sentence into words

unique_words = set(words)     #Convert the list into set to remove duplicates

print("Total count of unique words:" , len(unique_words))
print("Unique words:" , unique_words)

Enter a sentence: python is easy and python is powerful
Total count of unique words: 5
Unique words: {'easy', 'is', 'and', 'python', 'powerful'}

### **Problem 2: Highest Salary from Employee Data**

In [ ]:
employees ={
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

max_salary = 0
max_employee = ""

for name , salary in employees.items():   # .items() returns pairs (tuples) , Python automatically unpacks the tuple name = 'Ravi' , salary = 75000.
                                          # This is called tuple unpacking.
  if salary > max_salary:
    max_salary = salary
    max_employee = name

print(f"Highest salary: {max_employee} - {max_salary}")

Highest salary: Ravi - 75000

### **Problem 3: Find Maximum and Minimum Values**

In [ ]:
numbers = [45, 22, 89, 10, 66]

max_num = numbers[0]
min_num = numbers[0]

i = 1

for i in numbers:
  if i > max_num:
    max_num = i
  if i < min_num:
    min_num = i

print(f"Max: {max_num}")
print(f"Min: {min_num}")

Max: 89
Min: 10

### **Problem 4: Count Products Above a Price Threshold**

In [ ]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for i in prices:
  if i > 1000:
    count = count + 1
print(f"Products above 1000: {count}")

Products above 1000: 2

### **Problem 5: Calculate Attendance Percentage**

In [ ]:
attendance = ["P", "P", "A", "P", "P"]

count = 0
for i in attendance:
  if i == "P":
    count += 1
avg_percentage = (count / len(attendance)) * 100

print(f"Attendance Percentage: {avg_percentage}%")

Attendance Percentage: 80.0%

### **Problem 6: Remove Duplicate Phone Numbers**

In [1]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:" , unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

### **Problem 7: Count Character Frequency**

In [4]:
text = "pypthon"

char_count = {}

for i in text:
  if i in char_count:
    char_count[i] += 1
  else:
    char_count[i] = 1

print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

### **Problem 8: Convert List to Tuple**

In [6]:
ls = [ 10 , 20 , 30]

tp = tuple(ls)

print("Tuple:" , tp)

Tuple: (10, 20, 30)

### **Problem 9: Check if a Key Exists in a Dictionary**

In [9]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key = input("Enter a key:")

if key in employees:
  print("Employee exists")
else:
  print("Employee does not exist")

Enter a key:Anita
Employee exists

### **Problem 10: Calculate Average Marks**

In [11]:
marks = [65, 70, 80, 75]

sum = 0
for i in marks:
  sum += i
avg = sum / len(marks)

print(f"Average Marks: {avg}")

Average Marks: 72.5